
<ion-menu side="start" menuId="first" contentId="content">  
  <ion-header>  
    <ion-toolbar >  
      <ion-title>Menu</ion-title>  
    </ion-toolbar>   
  </ion-header>  
     <ion-content color="light"> 

      <ion-menu-toggle auto-hide="true">

        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-text menuClose>
          {{username}}
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>


      </ion-menu-toggle>

  <ion-list-header>
             <ion-label>Compte</ion-label>
  </ion-list-header> 
    <ion-list *ngFor="let pages of navigate">  
      <ion-menu-toggle auto-hide="true">  
        <ion-item [routerLink]="pages.url" routerDirection="forward">  
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
            {{pages.title}}   
        </ion-item>
      </ion-menu-toggle>  
    </ion-list>
<div *ngIf="isAdmin()" >
    <ion-item lines="none" (click)="isGestion === 1 ? isGestion = 0 : isGestion = 1">
      <ion-icon name="settings" slot="start"></ion-icon>
      Gestion des utilisateurs
      <ion-icon slot="end" [name]="isGestion? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
    </ion-item>

    <ion-menu-toggle auto-hide="true">
      <ion-list lines="none">
        <ion-item menuclose [hidden]="!isGestion" [routerLink]="['/menu/register']"
          menuClose class="sub-menu">
          <ion-icon name="person-add" slot="start"></ion-icon>
          Creer un nouveau utilisateurs
        </ion-item>
        <ion-item menuclose [hidden]="!isGestion" [routerLink]="['/menu/deploque']"
         menuClose class="sub-menu">
        <ion-icon name="lock-open" slot="start"></ion-icon>
        Debloquer utilisateurs
       </ion-item>
       <ion-item menuclose [hidden]="!isGestion" [routerLink]="['/menu/user-delete']"
       menuClose class="sub-menu">
      <ion-icon name="person" slot="start"></ion-icon>
      Edit/Delete utilisateurs
     </ion-item>
      </ion-list>
    </ion-menu-toggle>

  </div>

  <div *ngIf="isGestionn()" >
    <ion-item lines="none" (click)="isGestion === 1 ? isGestion = 0 : isGestion = 1">
      <ion-icon name="settings" slot="start"></ion-icon>
      Gestion des salles
      <ion-icon slot="end" [name]="isGestion? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
    </ion-item>

    <ion-menu-toggle auto-hide="true">
      <ion-list lines="none">
        <ion-item menuclose [hidden]="!isGestion" [routerLink]="['/menu/salle-create']"
          menuClose class="sub-menu">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          Creer salle de réunion
        </ion-item>
        <ion-item menuclose [hidden]="!isGestion" [routerLink]="['/menu/reunion-week']"
         menuClose class="sub-menu">
        <ion-icon name="lock-open" slot="start"></ion-icon>
        Les reunions
       </ion-item>
       <ion-item menuclose [hidden]="!isGestion" [routerLink]="['/menu/salle-edit']"
       menuClose class="sub-menu">
       <ion-icon name="newspaper" slot="start"></ion-icon>
      Edit/Delete salles
     </ion-item>
      </ion-list>
    </ion-menu-toggle>

  </div>

   </ion-content>


   <ion-list>
             <ion-menu-toggle auto-hide="true">
          <ion-footer>
            <ion-toolbar>
        <ion-item>
          <ion-icon class="icon-login" name="log-out-outline" slot="start"></ion-icon>
          <ion-label  (click)="logout()" > Log Out</ion-label>
        </ion-item>
           </ion-toolbar>
         </ion-footer>  
            </ion-menu-toggle>  
  </ion-list> 
</ion-menu> 
<ion-router-outlet Id="content" main></ion-router-outlet>   