<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="Tete">Changer mot de passe</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="onSubmit()">

    <div class="logo">
      <ion-icon color="light"></ion-icon> 
      <img class="circular--square" src="../../assets/esp-dakar-550x550.jpg">
    </div>

    <ion-item>
      <ion-icon name="lock-closed" class="icon-login"></ion-icon>
      <ion-input type="password" required formControlName="password" placeholder="New password"></ion-input>
    </ion-item>
    <ion-item *ngIf= "form.controls.password.hasError('pattern') ">
      <p> Please Enter One Upper Case and One Lower Case, One Spacial Characters and One Number</p>
      </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" class="icon-login"></ion-icon>
      <ion-input type="password" required formControlName="repassword" placeholder="Confirm Password"></ion-input>
    </ion-item>

    <ion-item *ngIf= "form.value.repassword!==form.value.password && form.valid">
      <p>Password not match</p>
      </ion-item>

    <ion-button type="submit" class="ion-margin-top" expand="block" shape="round" fill="outline" [disabled]="form.invalid || form.value.repassword!==form.value.password || form.controls.password.hasError('pattern') ">
      Reset
    </ion-button>
  </form>
</ion-content>
