<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="Tete">Edit/Supprimer salles</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let salles of salle">
        <ion-item>      
           <ion-label class="ion-text-wrap">
              <ion-text>
                <h2> 
                  {{salles.nsalle}} 
                 </h2>
               </ion-text>
  
                  <p>Nombre place: {{salles.nplace}}</p>

                  <p>Heure debut: {{salles.heure}}</p>

                  <p>Heure fin: {{salles.heure2}}</p>
  
                   <p>Date: {{salles.date2}}</p>
  
           </ion-label>     
        </ion-item>
        <ion-item-options side="end">
          <ion-button color="danger" (click)="delete(salles)">Delete</ion-button>
          <ion-icon name="trash"></ion-icon>

          <ion-button color="blue" (click)="edit(salles)">Edit</ion-button>
          <ion-icon name="pencil"></ion-icon>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>

</ion-content>
