<ion-header>
    <ion-toolbar color="primary">
      <ion-title class="Tete">Monitoring</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="onSubmit()">

    
      <div class="logo"> 
        <ion-icon color="light"></ion-icon> 
        <img class="circular--square" src="../../assets/esp-dakar-550x550.jpg">
      </div>
  
      <ion-item>
        <ion-icon name="person" class="icon-login"></ion-icon>
        <ion-input type="text" required formControlName="username" placeholder="Username"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-icon name="lock-closed" class="icon-login"></ion-icon>
        <ion-input type="password" required formControlName="password" placeholder="Password"></ion-input>
      </ion-item>
  
      <ion-button type="submit" class="ion-margin-top" expand="block" shape="round" fill="outline" [disabled]="form.invalid">Connexion</ion-button>
  

  </form>
</ion-content>
