<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="Tete">Deploquer utilisateurs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="onSubmit()">
    
    <div class="logo">   
      <ion-icon color="light"></ion-icon> 
      <img class="circular--square" src="../../assets/esp-dakar-550x550.jpg">
    </div>

    <ion-item>
      <ion-icon name="person" class="icon-login"></ion-icon>
      <ion-input type="text" required formControlName="username" placeholder="Username"></ion-input>
    </ion-item>

    <ion-button type="submit" class="ion-margin-top" expand="block" shape="round" fill="outline" [disabled]="form.invalid">Unlock</ion-button>
  </form>
</ion-content>