.Tete{
    text-align: center;
  }
  ion-content {
    // --ion-background-color: linear-gradient(#6DD5FA, #2980B9);
    --ion-background-color: linear-gradient(#252f46, #4b3131);
    // --ion-background-color: linear-gradient(#485563, #29323c);
}
ion-item {
    --ion-background-color: transparent!important;
}

ion-icon {
  margin-right: 15px;
}


.logo ion-icon{
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img{
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  position: relative;
  height: 200px;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

