<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="Tete">Reunion</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let salles of salle">
        <ion-item>      
           <ion-label class="ion-text-wrap">
              <ion-text>
                <h2> 
                  {{salles.nsalle}} 
                 </h2>
               </ion-text>
  
                  <p>Nombre place: {{salles.nplace}}</p>

                  <p>Heure debut: {{salles.heure}}</p>

                  <p>Heure fin: {{salles.heure2}}</p>
  
                   <p>Date: {{salles.date2}}</p>
  
           </ion-label>     
        </ion-item>
</ion-list>

</ion-content>