<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title class="Tete">
      Monitoring App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <h3>Generate New QR Code</h3>
    <ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>

    <ion-button color="primary" (click)="generateBarCode()" expand="block">
        QR Code Create
    </ion-button>
</ion-card>

</ion-content>
