.Tete{
  text-align: center;
}
ion-content {
  // --ion-background-color: linear-gradient(#6DD5FA, #2980B9);
  --ion-background-color: linear-gradient(#252f46, #4b3131);
  // --ion-background-color: linear-gradient(#485563, #29323c);
}
