<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="Tete">Modifier utilisateur</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="onSubmit()">

    <div class="logo">
      <ion-icon color="light"></ion-icon> 
      <img class="circular--square" src="../../assets/esp-dakar-550x550.jpg">
    </div>

    <ion-item>
      <ion-label>Permission:</ion-label>
      <ion-select class="ion-text-end" name="permission" required formControlName="permission" >
          <ion-select-option value="1">Agent</ion-select-option>
          <ion-select-option value="2">System</ion-select-option>
          <ion-select-option value="3">Gestionnaire</ion-select-option>
          <ion-select-option value="4">Administrateur</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Sexe:</ion-label>
      <ion-select class="ion-text-end" name="sexe" required formControlName="sexe" >
          <ion-select-option value="1">M</ion-select-option>
          <ion-select-option value="2">F</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-icon name="briefcase" class="icon-briefcase"></ion-icon>
      <ion-input type="text" required formControlName="direction" placeholder="Direction"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" class="icon-mail"></ion-icon>
      <ion-input type="text" required formControlName="email" placeholder="Email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" class="icon-login"></ion-icon>
      <ion-input type="text" required formControlName="usern" placeholder="Old Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" class="icon-login"></ion-icon>
      <ion-input type="text" required formControlName="username" placeholder="New Username"></ion-input>
    </ion-item>


    <ion-button type="submit" class="ion-margin-top" fill="outline" expand="block" shape="round" [disabled]="form.invalid || form.value.repassword!==form.value.password ">
      Modify
    </ion-button>
  </form>
</ion-content>
