<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="Tete">Salle edit</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="submitForm()">

    <div class="logo">
      <ion-icon color="light"></ion-icon> 
      <img class="circular--square" src="../../assets/esp-dakar-550x550.jpg">
    </div>


    <ion-item>
      <ion-label position="floating">Ancien Numero salle</ion-label>
      <ion-input type="text" required formControlName="nsalle" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nouveau Numero salle</ion-label>
      <ion-input type="text" required formControlName="nsalle2" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre places</ion-label>
      <ion-input type="text" required formControlName="nplace"  ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Date</ion-label>
      <ion-datetime (ionChange)="getDate($event)" formControlName="date2" [value]="defaultDate"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Heure debut</ion-label>
      <ion-datetime required formControlName="heure" displayFormat="HH-mm" pickerFormat="HH mm" [(ngModel)]="newDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Heure fin</ion-label>
      <ion-datetime required formControlName="heure2" displayFormat="HH-mm" pickerFormat="HH mm" [(ngModel)]="newDate2"></ion-datetime>
    </ion-item>

    <ion-button type="submit" class="ion-margin-top" fill="outline" expand="block" shape="round" [disabled]="form.invalid ">
      Edit
    </ion-button>
  </form>
</ion-content>