<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="Tete">Edit/Supprimer utilisateurs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let users of user">
        <ion-item>      
           <ion-label class="ion-text-wrap">
              <ion-text>
                <h2> 
                  {{users.username}} 
                 </h2>
               </ion-text>
  
                  <p>Profil: {{users.profil}}</p>

                  <p>Direction: {{users.direction}}</p>

                  <p>Email: {{users.email}}</p>
  
                   <p>Bloquer: {{users.bloquer}}</p>
  
                   <p>Expire: {{users.expire}} </p>

           </ion-label>     
        </ion-item>
        <ion-item-options side="end">
          <ion-button color="danger" (click)="delete(users)">Delete</ion-button>
          <ion-icon name="trash"></ion-icon>

          <ion-button color="blue" (click)="edit(users)">Edit</ion-button>
          <ion-icon name="pencil"></ion-icon>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>

</ion-content>
